<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="{{ url_for('static', filename= 'css/style.css') }}">

</head>
<body >
    {% with messages = get_flashed_messages(with_categories = True) %}{% if 
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{category}}" id="flash_message"> {{message}}</div>
        {% endfor %}{% endif %}{% endwith %}
    <form class="container" method="POST" action="{{url_for('user_bp.signupUser')}}">
        <h1>Get Started</h1>
        <input type="text" placeholder="Name" name="name" id="name">
        <input type="text" placeholder="Email" name="email" id="email">
        <input type="text" placeholder="Password" name="password" id="password" >
        <input type="text" placeholder="Confirm Password" name="confirmPass" id="confirmPass" >
        <button type="submit">Sign Up</button>
        <p class="inn">Already have an account? <a href="http://127.0.0.1:1010/">Sign in</a></p>
    </form>
</body>
<script>
    window.onload = function () {
        setTimeout(() => {
            let flash_message = document.getElementById("flash_message");
            if (flash_message){
                flash_message.style.display = "none";
                window.location.href = "{{redirect_url}}";
            }
        }, 5000);
    };
</script>
</html>